@model IEnumerable<NiscoutFBL2019.Models.Sector>

@{
    ViewBag.Title = "Index";
}

<h2>Registros Nuevo Sectores</h2>

<div align="left">
    @using (Html.BeginForm("Index", "Sectors", FormMethod.Get))
    {
        <div align="right">
            <hr />
         

            @Html.TextBox("searching")
            <input type="image" src="@Url.Content("~/Content/Ico/lupa.png")" width="20" class="btn waves-effect waves-light btn-outline-info">

            <a href="@Url.Action("Create", "Sectors")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Registrar Responsable">
                Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
            </a>
            @*<a href="@Url.Action("RepAdulto", "Sectors")" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
            </a>*@

            <hr />
        </div>
    }
</div>

<div class="datagrid">
    <table >
        <thead>
            <tr>
                <th>
                   Codigo
                </th>
                <th>
                   Sector
                </th>
                <th>
                   Municipio
                </th>
                <th>
                   Distrito
                </th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="8"> No se ha encontrado ningún dato relacionado</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
            <tr class="alt">
                <td>
                    @Html.DisplayFor(modelItem => item.Cod_Sector)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Sector)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio.Nombre_Municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distrito.Nombre_Distrito)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Sectors",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                        <img width="25" src="~/Content/Ico/Editar.png" />
                    </a>
                    <a href="@Url.Action("Details", "Sectors",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                        <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                    </a>
                    <a href="@Url.Action("Delete", "Sectors",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                        <img width="25" src="~/Content/Ico/eliminar.png" />
                    </a>

                </td>
            </tr>
            }
        }

    </table>
</div>