<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-15 ">
        <h1 class="text-themecolor" style="color:#dd8ee6;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bienvenidos a la Asociación de Scouts de Nicaragua.</h1>
    </div>
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    <div class="col-md-7 ">
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Sales overview chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box 1-->
        <div class="small-box bg-info" style="border-radius: .25rem;
                                        box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
                                        display: block;
                                        margin-bottom: 20px;
                                        position: relative">
            <div class="inner">
                <h3>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;font-weight: 700;
                                margin: 0 0 10px 10px;">@ViewBag.ContadorJ</font>
                            </font>
                        </h3>

                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-weight: 700;">&nbsp;&nbsp;Cantidad de Jóvenes</font></font></p>
                    </div>
                    <div class="icon" style="color: rgba(0,0,0,.15);
                                                                         z-index: 0;">
                        <i class="fa  fa-user-plus" style="top: 15px;
                                                                                    font-size: 31px;
                                                                                    position: absolute;
                                                                                    right: 2px;
                                                                                    top: 12px;
                                                                                    transition: all .3s linear;"></i>
                    </div>
                    <a href="#" class="small-box-footer" style="background: rgba(0,0,0,.1);

                                                                                            display: block;
                                                                                            padding: 3px 0;
                                                                                            position: relative;
                                                                                            text-align: center;
                                                                                            text-decoration: none;
                                                                                            z-index: 10;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Más información </font></font><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box 2 -->
                <div class="small-box bg-success" style="border-radius: .25rem;
                                                                box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
                                                                display: block;
                                                                margin-bottom: 20px;
                                                                position: relative;
                                                               background-color:#33CEFF  !important;
                                                                   ">
                    <div class="inner">
                        <h3>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;font-weight: 700;
                            margin: 0 0 10px 10px;">@ViewBag.Contador</font>
                        </font>
                    </h3>

                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-weight: 700;">&nbsp;&nbsp;Cantidad De adultos</font></font></p>
                </div>
                <div class="icon" style="color: rgba(0,0,0,.15);
                                                                     z-index: 0;">
                    <i class="fa  fa-user-plus" style="top: 20px;
                                                                                    font-size: 31px;
                                                                                    position: absolute;
                                                                                    right: 2px;
                                                                                    top: 14px;
                                                                                    transition: all .3s linear;"></i>
                </div>
                <a href="#" class="small-box-footer" style="background: rgba(0,0,0,.1);

                                                                                        display: block;
                                                                                        padding: 3px 0;
                                                                                        position: relative;
                                                                                        text-align: center;
                                                                                        text-decoration: none;
                                                                                        z-index: 10;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Más información </font></font><i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box 3-->
            <div class="small-box bg-warning" style="border-radius: .25rem;
                                        box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
                                        display: block;
                                        margin-bottom: 20px;
                                        position: relative;
                                        background-color:#5FFB7E !important;">
                <div class="inner">
                    <h3>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align:inherit;font-weight: 700;
    margin: 0 0 10px 10px;">@ViewBag.ContAJ</font>
</font>
</h3>

<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-weight: 700;">&nbsp;&nbsp;Total de Usuarios</font></font></p>
</div>
<div class="icon" style="color: rgba(0,0,0,.15);
                                             z-index: 0;">
    <i class="fa  fa-user-plus" style="top: 20px;
                                                            font-size: 31px;
                                                            position: absolute;
                                                            right: 2px;
                                                            top: 14px;
                                                            transition: all .3s linear;"></i>
</div>
<a href="@Url.Action("Index", "Adultoes")" class="small-box-footer" style="background: rgba(0,0,0,.1);

                                                                display: block;
                                                                padding: 3px 0;
                                                                position: relative;
                                                                text-align: center;
                                                                text-decoration: none;
                                                                z-index: 10;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Más información </font></font><i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-6">
    <!-- small box 4-->
    <div class="small-box bg-danger" style="border-radius: .25rem;
                                        box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
                                        display: block;
                                        margin-bottom: 20px;
                                        position: relative; background-color:#5FFB7E;">
        <style>
            .bg-danger {
                background-color: #BE5FFB !important;
            }
        </style>
        <div class="inner">
            <h3 style="font-size:20px;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;font-weight: 700;
    margin: 0 0 10px 10px;">Reportes</font>
                </font>
            </h3>

            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-weight: 700;">&nbsp;&nbsp;Por Parámetros</font></font></p>
        </div>
        <div class="icon" style="color: rgba(0,0,0,.15);
                                             z-index: 0;">
            <i class="fa fa-folder-open" style="top: 20px;
                                                            font-size: 31px;
                                                            position: absolute;
                                                            right: 2px;
                                                            top: 14px;
                                                            transition: all .3s linear;"></i>
        </div>
        <a href="@Url.Action("Index", "ReporteParametros")" class="small-box-footer" style="background: rgba(0,0,0,.1);

                                                                display: block;
                                                                padding: 3px 0;
                                                                position: relative;
                                                                text-align: center;
                                                                text-decoration: none;
                                                                z-index: 10;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CLICK AQUI--> </font></font><i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>
</div>
<!--fin /////////////////////// -->

<br />
<div class="row page-titles">
   
</div>
<!------------------------------------MODAL INFORMATIVO ................... -->
<div class="row">
    <div class="col-md-10 ">
        <h1 class="text-themecolor" style="margin-top:40px;margin-left:170px; color:#dd8ee6; align-content:center;">&nbsp;&nbsp;&nbsp;Grupos Scouts</h1>
    </div>
        @Html.Partial("_Manada")
        @Html.Partial("_Caminantes")
        @Html.Partial("_Rover")
        @Html.Partial("_Scout")
  
    <div class="col-md-8">
        <!-- START: Modules Anywhere --><div style="border-top: 8px solid orange; border-bottom: 2px solid orange; color:red;" align="center">

            <h2>@ViewBag.rando</h2><h3>- Baden Powell</h3>
        </div><!-- END: Modules Anywhere -->
    </div>
    
</div>









