@model NiscoutFBL2019.Models.Departamento

@{
    ViewBag.Title = "Delete";
}

<h3>¿Está Seguro que desea Eliminar Este Registro...?</h3>

<div class="datagrid">

    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <td>
                   @Html.DisplayNameFor(model => model.Cod_Departamento)
                </td>
                <td>
                   @Html.DisplayFor(model => model.Cod_Departamento)
                </td>
            </tr>
            <tr>
                <td>
                   @Html.DisplayNameFor(model => model.Nombre_Departamento)
                </td>
                <td>
                   @Html.DisplayFor(model => model.Nombre_Departamento)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr> 
            </thead>
       </table>
          
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="form-group">
                            <input title="Una vez eliminado, no se podrá recuperar" type="submit" value="Eliminar Registro" class="btn btn-outline-danger" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Cancelar", "Index")</button>
                        </div>
                    </div>
                </div>
            
</div>
