@model IEnumerable<NiscoutFBL2019.Models.Departamento>

@{
    ViewBag.Title = "Index";
}
<h2>Registros de Departamentos</h2>
<div align="left">
    @using (Html.BeginForm("Index", "Departamentoes", FormMethod.Get))
    {        
        <div align="right">
            <div>
                <hr />

               @Html.TextBox("searching")
                <input type="image" src="@Url.Content("~/Content/Ico/lupa.png")" width="20" class="btn waves-effect waves-light btn-outline-info" title="Buscar Registro">

                <a href="@Url.Action("Create", "Departamentoes")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Registrar Nuevo Departamento">
                    Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
                </a>
                <a href="@Url.Action("ReporUbicaciones", "Reportes")" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                    <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
                </a>

                <hr />
            </div>
        </div>

    }
</div>
<div class="datagr">
    <table >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cod_Departamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_Departamento)
                </th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
            {
            <tr>
                <td colspan="4"> No se ha encontrado ningún dato relacionado</td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cod_Departamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Departamento)
                    </td>
                    
                    <td>

                        <a href="@Url.Action("Edit", "Departamentoes",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                            <img width="25" src="~/Content/Ico/Editar.png" />
                        </a>
                        <a href="@Url.Action("Details", "Departamentoes",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                            <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                        </a>
                        <a href="@Url.Action("Delete", "Departamentoes",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                            <img width="25" src="~/Content/Ico/eliminar.png" />
                        </a>
                     </td>
                   
                </tr>
            }
        }
    </table>
    </div>



