@model NiscoutFBL2019.Models.EditViewModel
@{
    //ViewBag.Title = "Delete";
    Layout = null;
}

<h2>Delete</h2>
<h3>¿Esta seguro de eliminar esta cuenta?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Roles
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Roles)
            {
                    <li>@item</li>
                }
            </ul>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Delete" class="btn betn-default" />
        </div>
    }
</div>

