
@{
    ViewBag.Title = "Index";
}
<div class="card-header card-header-tabs" style="box-shadow: 0 0 1px 0 ; background-color: transparent">
    <h2 style="font-family:'Times New Roman'"><strong> Listado de Usuarios... </strong>  </h2>

</div>
<br />

<div align="left">
    @using (Html.BeginForm("Index", "SubGrupoes", FormMethod.Get))
    {
        <div align="right">
            <br />

                <button onclick="location.href='@Url.Action("Register")'" type="button" class="btn btn-success">Nuevo Usuario</button>
            
            <hr />
        </div>
    }
</div>

<div class="col-lg-12 " style="box-shadow: 0px 1px 3px mediumpurple">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="tableUsuarios" class="table">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Apellido
                            </th>
                            <th>
                                Correo
                            </th>
                            <th>
                                Rol
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            var dataTable;
            $(function () {
                dataTable = $("#tableUsuarios").DataTable({
                    "ajax": {
                        "url": "@Url.Action("Listar", "Account")",
                        "type": "GET",
                        "dataType": "JSON"
                    }, "columns": [
                        { "data": "Nombre" },
                        { "data": "Apellido" },
                        { "data": "Email" },

                        {
                            "data": "Id", "render": function (data) {
                                var buttons = '<a href="#" onclick=getHtmlData("@Url.Action("Roles", "Account")/' + data + '") class="btn  btn-success" data-toggle="modal" data-target="#modal-default"title="Ver Roll"> <i class="fa fa-address-card"></i> </span>  </a> |';
                                buttons += '<a href="@Url.Action("Edit", "Account")/' + data + '" class="btn  btn-warning" title="Editar Usuario"><span><i class="fa fa-edit"></i> </span>  </a> |';
                                buttons += ' <a href="#" onclick=getHtmlData("@Url.Action("Delete", "Account")/' + data + '") class="btn  btn-danger" data-toggle="modal" data-target="#modal-default" title="Eliminar Usuario"> <i class="fa  fa-trash"></i> </span>  </a>';
                                return buttons;
                            }, "orderable": false, "searchable": false
                        },

                    ], "pageLength": 5, "language": {
                        "emptyTable": "Sin Procedimientos",
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                    }

                });
            });
        </script>
    }

    <div class="modal fade" id="modal-default" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Roles del Usuario</h4>
                </div>
                <div class="modal-body" id="parcialCreateUpdate">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
