@model NiscoutFBL2019.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crear Cuenta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/assets/images/Logov2.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login_v1/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <section id="loginForm" style="width:30em; margin-right :-8px;
                                               margin-top:-1px;
                                               margin-left:-5px;
                                              border-color: #be51c1;
                                              border-width: 2px;
                                              padding-left:10px;
                                              padding-bottom: 10px;
                                              border-style: solid;
                                              -webkit-border-radius: 7px">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title" @*style="  margin-left:4.5em; text-align:left;*@>
                        Registro de Usuario
                    </span>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="wrap-input100 validate-input" data-validate="Nombre">
                        @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
                        <div class="col-md-14">
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "input100" })
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Apellido">
                        @Html.LabelFor(m => m.Apellido, new { @class = "col-md-4 control-label" })
                        <div class="col-md-14">
                            @Html.TextBoxFor(m => m.Apellido, new { @class = "input100" })
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required ex@abc.xyz">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-6 control-label" })
                        <div class="col-md-14">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input100" })
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-14">
                            @Html.PasswordFor(m => m.Password, new { @class = "input100" })
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
                        <div class="col-md-14">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input100" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Roles, "Roles", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-12">
                            @Html.DropDownList("Roles", null, "--- Seleccione Su rol ---", htmlAttributes: new { @class = "input100" })
                            @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input style="margin-left:150px;" type="submit" class="btn btn-danger" value="Registrarse" />
                        </div>
                    </div>
                }
                </section>
</div>
        </div>
    </body>
</html>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
