@model NiscoutFBL2019.Models.Periodo

@{
    ViewBag.Title = "Delete";
}

<h3>¿Está Seguro que desea Eliminar Este Registro...?</h3>


<div class="datagrid">

    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Responsable.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Responsable.Nombres)
                </td>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Desde)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Desde)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Hasta)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Hasta)
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>
    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    <input title="Una vez eliminado, no se podrá recuperar" type="submit" value="Eliminar Registro" class="btn btn-outline-danger" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("Index")" class="btn waves-effect waves-purple btn-success hidden-md-down">Cancelar</a>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {

    <link href="~/Content/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/js/datepicker.min.js"></script>
    <script src="~/Scripts/js/i18n/datepicker.es.js"></script>
    <script>
    $(function () {


        $("#Desde").datepicker({ language: 'es', dateFormat: 'dd-mm-yy' });
        $("#Hasta").datepicker({ language: 'es', dateFormat: 'dd-mm-yy' });

  } );
    </script>
}


