@model IEnumerable<NiscoutFBL2019.Models.Periodo>

@{
    ViewBag.Title = "Index";
}


<p>
    <a href="@Url.Action("Create","Periodoes")" class="btn waves-effect waves-light btn-info hidden-md-down"> Nuevo periodo</a>
    @*@Html.ActionLink("Agregar nuevo periodo", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hasta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Desde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hasta)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
          <button class="btn waves-effect waves-purple btn-info hidden-md-down">@Html.ActionLink("Editar", "Edit", new { id = item.Id })</button>
          <button class="btn waves-effect waves-red btn-info hidden-md-down">@Html.ActionLink("Details", "Details", new { id = item.Id })</button> 
          <button class="btn waves-effect waves-light btn-danger hidden-md-down">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
        </td>
    </tr>
}

</table>
