@model IEnumerable<NiscoutFBL2019.Models.Periodo>

@{
    ViewBag.Title = "Index";
}

<div class="card-header card-header-tabs" style="box-shadow: 0 0 1px 0 ; background-color: transparent">
    <h3 style="font-family:'Montserrat'"><strong> Listado de Periodos... </strong>  </h3>

</div>

<div align="left">
    @using (Html.BeginForm("Index", "Peridoes", FormMethod.Get))
    {
        <div align="right">
            <div>
                <br />

                @Html.TextBox("buscar")
                <input type="image" src="@Url.Content("~/Content/Ico/lupa.png")" width="20" class="btn waves-effect waves-light btn-outline-info">

                <a href="@Url.Action("Create", "Periodoes")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Registrar Nuevo Periodo">
                    Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
                </a>
                <a href="@Url.Action("RepAdulto", "Peridoes")" target="_blank" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                    <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
                </a>

                <hr />
            </div>
        </div>
    }
</div>


<div class="col-lg-12 " style="box-shadow: 0px 1px 3px mediumpurple">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table vm no-th-brd no-wrap pro-of-month">
                    <thead style="color: #000">
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.Desde)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Hasta)
                            </th>
                            <th>
                                Código
                            <th>Acción</th>
                    </thead>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td>
                                <div colspan="4" style="font-family:'Times New Roman'; color:purple; font-size:18px">
                                    <br /> No se ha encontrado ningún dato relacionado
                                    <a href="@Url.Action("Index")" class="btn waves-effect " title="Volver">
                                        <img width="30" src="@Url.Content("~/Content/Ico/Volver.png")" />
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tbody>
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Desde)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hasta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Responsable.Nombres)  @Html.DisplayFor(modelItem => item.Responsable.Apellidos)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Periodoes",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                                            <img width="25" src="~/Content/Ico/Editar.png" />
                                        </a>
                                        <a href="@Url.Action("Details", "Periodoes",new { id = item.Id })" target="_blank" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                                            <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                                        </a>
                                        @*<a href="@Url.Action("Delete", "Periodoes",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                                                <img width="25" src="~/Content/Ico/eliminar.png" />
                                            </a>*@
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>



