@model NiscoutFBL2019.Models.Detalle_Grupo_Patro

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de la Información</h2>

<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Grupo.Cod_Grupo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Grupo.Cod_Grupo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Patrocinador.Cod_Persona)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Patrocinador.Cod_Persona)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Desde)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Desde)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Hasta)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Hasta)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Editar Registro", "Edit", new { id = Model.Id })</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn waves-effect waves-purple btn-info hidden-md-down">@Html.ActionLink("Volver a la lista", "Index")</button>
    </p>
</div>

