@model IEnumerable<NiscoutFBL2019.Models.Detalle_Grupo_Patro>

@{
    ViewBag.Title = "Index";
}

<h2>Registros de Detalle Grupo Patrocinador</h2>
<div align="left">
    @using (Html.BeginForm("Index", "Detalle_Grupo_Patro", FormMethod.Get))
    {
        <div align="right">
            <div>
                <hr />

                @Html.TextBox("searching")
                <input type="image" src="@Url.Content("~/Content/Ico/lupa.png")" width="20" class="btn waves-effect waves-light btn-outline-info" title="Buscar Registro">

                <a href="@Url.Action("Create", "Detalle_Grupo_Patro")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Registrar Detalle Evento">
                    Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
                </a>
                <a href="@Url.Action("RepAdulto", "Adultoes")" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                    <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
                </a>

                <hr />
            </div>
        </div>

    }
</div>

<div class="datagr">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Grupo.Cod_Grupo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patrocinador.Cod_Persona)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desde)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hasta)
                </th>
                <th></th>
            </tr>
            </thead>
          @if (Model.Count() == 0)
          {
            <tr>
                <td colspan="4"> No se ha encontrado ningún dato relacionado</td>
            </tr>
          }
          else
          {
              foreach (var item in Model)
              {
                <tr class="alt">
                    <td>
                        @Html.DisplayFor(modelItem => item.Grupo.Cod_Grupo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patrocinador.Cod_Persona)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desde)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hasta)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Detalle_Grupo_Patro",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                            <img width="25" src="~/Content/Ico/Editar.png" />
                        </a>
                        <a href="@Url.Action("Details", "Detalle_Grupo_Patro",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                            <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                        </a>
                        <a href="@Url.Action("Delete", "Detalle_Grupo_Patro",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                            <img width="25" src="~/Content/Ico/eliminar.png" />
                        </a>
                     </td>
                </tr>
              }
          }
    </table>
    </div>