@model NiscoutFBL2019.Models.Evento

@{
    ViewBag.Title = "Delete";
}

<h2>¿Está Seguro que desea Eliminar Este Registro...?</h2>

<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Cod_Evento)
                    <
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cod_Evento)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Nombre_Evento)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nombre_Evento)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Descripcion)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Hora)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Hora)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Fecha)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SubGrupo.Cod_Subgrupo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SubGrupo.Cod_Subgrupo)
                </td>
            </tr>
    </table>

    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    <input title = "Una vez eliminado, no se podrá recuperar" type="submit" value="Eliminar Registro" class="btn btn-outline-danger" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Cancelar", "Index")</button>
                </div>
            </div>
          </div>
  
            }
</div>
