@model NiscoutFBL2019.Models.Evento

@{
    ViewBag.Title = "Edit";
}

<style>
    .login100-form-title {
        font-weight: bold;
        font-family: Poppins-Bold;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        width: 100%;
    }

    .input100 {
        border: none;
        font-family: Poppins-Medium;
        font-size: 20px;
        line-height: 1.5;
        color: #333333;
        display: block;
        width: 100%;
        background: #e6e6e6;
        height: 45px;
        border-radius: 15px;
        padding: 0 20px 0 53px;
    }

    .form-group {
        position: relative;
        width: 95%;
        z-index: 1;
        margin-bottom: 10px;
    }

    .control-label {
        font-weight: bold;
        color: #333333;
        font-size: 18px;
    }
</style>
<div class="card-header card-header-tabs" style="box-shadow: 0 0 1px 0 mediumpurple; background-color: transparent">
    <h2 style="font-family:'Montserrat'"><strong> Edicion del Evento... </strong></h2>
</div>
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12 " style="box-shadow: 0 0 5px 0">
        <div class="card">
            <div class="card-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group" style="display:inline-block;  padding:4px 8px;">
                    @Html.LabelFor(model => model.Cod_Evento, "Codigo :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="float: right;">
                        @Html.EditorFor(model => model.Cod_Evento, new { htmlAttributes = new { @class = "input100" } })
                        @Html.ValidationMessageFor(model => model.Cod_Evento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display:inline-block;  padding:4px 8px;">
                    @Html.LabelFor(model => model.Nombre_Evento, "Nombre :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="float: right;">
                        @Html.EditorFor(model => model.Nombre_Evento, new { htmlAttributes = new { @class = "input100" } })
                        @Html.ValidationMessageFor(model => model.Nombre_Evento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display:inline-block;  padding:4px 8px;">
                    @Html.LabelFor(model => model.Descripcion, "Descripcion :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="float: right;">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "input100" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display:inline-block;  padding:4px 8px;">
                    @Html.LabelFor(model => model.Hora, "Hora :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="float: right;">
                        @Html.EditorFor(model => model.Hora, new { htmlAttributes = new { @class = "input100" } })
                        @Html.ValidationMessageFor(model => model.Hora, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display:inline-block;  padding:4px 8px;">
                    @Html.LabelFor(model => model.Fecha, "Fecha :", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="float: right;">
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "input100" } })
                        @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display:inline-block;  padding:4px 8px;">
                    @Html.LabelFor(model => model.SubGrupoId, "SubGrupo : ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="float: right;">
                        @Html.DropDownList("SubGrupoId", null, htmlAttributes: new { @class = "input100" })
                        @Html.ValidationMessageFor(model => model.SubGrupoId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div align="right">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input src="@Url.Content("~/Content/Ico/guardar.png")" type="image" value="Guardar" width="25" class="btn waves-effect waves-light btn-outline-info" title="Guardar Registro" /> &nbsp;

                            <a href="@Url.Action("Index")" class="btn waves-effect waves-purple btn btn-outline-red" title="Cancelar Registro">
                                <img width="30" src="@Url.Content("~/Content/Ico/cancelar.png")" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
