@model NiscoutFBL2019.Models.Grupo

@{
    ViewBag.Title = "Delete";
}

<h2>¿Está Seguro que desea Eliminar Este Registro...?</h2>

<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Cod_Grupo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cod_Grupo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Nombre_Grupo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nombre_Grupo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Num_Solicitud)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Num_Solicitud)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Pañoleta)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Pañoleta)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Insignia)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Insignia)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Sello_Grupo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Sello_Grupo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Carta_Solicitud)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Carta_Solicitud)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Responsable.Cod_Persona)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Responsable.Cod_Persona)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Distrito.Cod_Distrito)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Distrito.Cod_Distrito)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>
   
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    <input title="Una vez eliminado, no se podrá recuperar" type="submit" value="Eliminar Registro" class="btn btn-outline-danger" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Cancelar", "Index")</button>
                </div>
            </div>
        </div>
 
</div>
