@model NiscoutFBL2019.Models.Grupo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pañoleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pañoleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insignia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insignia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sello_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sello_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carta_Solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carta_Solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable.Cod_Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable.Cod_Persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrito.Cod_Distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito.Cod_Distrito)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
