@model NiscoutFBL2019.Models.Grupo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pañoleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pañoleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insignia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insignia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sello_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sello_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carta_Solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carta_Solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable.Cod_Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable.Cod_Persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrito.Cod_Distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito.Cod_Distrito)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
