@model IEnumerable<NiscoutFBL2019.Models.Grupo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cod_Grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Solicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pañoleta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insignia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sello_Grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carta_Solicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsable.Cod_Persona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito.Cod_Distrito)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_Grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Solicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pañoleta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insignia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sello_Grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carta_Solicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsable.Cod_Persona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito.Cod_Distrito)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
