@model IEnumerable<NiscoutFBL2019.Models.Centro_Estudio>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de Centro de Estudio</h2>
<div align="left">
    @using (Html.BeginForm("Index", "Centro_Estudio", FormMethod.Get))
    {
        <div align="right">
            <div>
                <hr />

                @Html.TextBox("buscar")
                <input type="image" src="@Url.Content("~/Content/Ico/lupa.png")" width="20" class="btn waves-effect waves-light btn-outline-info" title="Buscar Registro">

                <a href="@Url.Action("Create", "Centro_Estudio")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Registrar Centro de Estudio">
                    Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
                </a>
                <a href="@Url.Action("ReporCentro", "Reportes")" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                    <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
                </a>

                <hr />
            </div>
        </div>
    }
</div>

<div class="datagrid">
    <table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cod_Centro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Centro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Mail)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4"> No se ha encontrado ningún dato relacionado</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tbody>
                <tr class="alt">
                    <td>
                        @Html.DisplayFor(modelItem => item.Cod_Centro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Centro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Turno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.E_Mail)
                    </td>
                    <td>

                        <a href="@Url.Action("Edit", "Centro_Estudio",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                            <img width="25" src="~/Content/Ico/Editar.png" />
                        </a>
                        <a href="@Url.Action("Details", "Centro_Estudio",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                            <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                        </a>
                        <a href="@Url.Action("Delete", "Centro_Estudio",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                            <img width="25" src="~/Content/Ico/eliminar.png" />
                        </a>
                       
                     </td>
                    </tr>
                </tbody>
                }
                }

        </table>
    </div>