@model NiscoutFBL2019.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cambiar contraseña</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/assets/images/Logov2.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login_v1/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", @style = " margin-left:20em;", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <span class="login100-form-title"style="  margin-left:4.5em; text-align:left;" >
                Cambiar contraseña
            </span>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="wrap-input100 validate-input" data-validate="Password is required"style="width: 80%;">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @style = "width: auto;", @class = "input100" })
                </div>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Password is required"style="width: 80%;">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @style = "width: auto;", @class = "input100" })
                </div>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Password is required"style="width: 80%;">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @style = "width: auto;", @class = "input100" })
                </div>
            </div>
            <div class="container-login100-form-btn"style="flex-wrap:initial; justify-content: flex-start;">
                <button type="submit" value="Cambiar contraseña" class="login100-form-btn" title="Guardar"style="width: auto;position:relative;">
                   Guardar
                </button>
                <a class="login100-form-btn" href="@Url.Action("Index","Home")" style="width: auto;position:relative;margin-left:30px" ;">
                        <span>
                            <i class="fa fa-arrow-left"></i>
                        </span>
                        Cancelar
                    </a>
            </div>
            
                
            
            
        }
        </div>
    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v1/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
    </script>
    <!--===============================================================================================-->
    <script src="~/Login_v1/js/main.js"></script>
</body>
    </html>
   
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
