@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="es">


<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/images/Logov2.png">
    <title>Sistema NISCOUT FBL</title>
    <!-- Bootstrap Core CSS -->

    @Styles.Render("~/Content/css")

  
</head>
<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Bienvenido a: NISCOUT FBL</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <!-- Logo icon -->
                        <b>
                            <img src="~/Content/assets/images/Logov2.png" alt="página principal" class="dark-logo"/>
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                                <img src="~/Content/assets/images/Logov3.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> 
                        <a class="nav-link nav-toggler hidden-md-up waves-effect waves-green" href="javascript:void(0)"><i class="ti-menu"></i></a> 
                       </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        
                       
                        
                       
                        <li class="nav-item">    
                            @Html.Partial("_LoginPartial")                     
                           </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->               
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <!-- ============================================================== -->
        <!-- Mostrar menú en caso que sea Administrador -->
        <!-- ============================================================== -->
                   @if (User.IsInRole("Admin"))
                   {
                    <li> <a class="waves-effect waves-light" href="@Url.Action("Index", "Home")" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Inicio</span></a></li>
                    <!-- Personas-->

                    <li class="treeview">
                        <a href="#">
                            <i class="fa  fa-user-plus"></i> <span>Miembros</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-double-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            @*<li><a href="@Url.Action("Index", "Personas")"><i class="fa fa-user"></i> Personas</a></li>*@
                            <li><a href="@Url.Action("Index", "Adultoes")"><i class="fa fa-user-secret"></i> Adultos</a></li>
                            <li><a href="@Url.Action("Index", "Patrocinadors")"><i class="fa fa-user-circle-o"></i> Patrocinadores</a></li>
                            <li><a href="@Url.Action("Index", "Tutorias")"><i class="fa fa-user-o"></i> Tutores</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-smile-o"></i> <span>Jovenes</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-double-right pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index", "Juvenils")"><i class="fa fa-tachometer"></i> Datos Personales</a></li>
                                    <li><a href="@Url.Action("Index", "Centro_Estudio")"><i class="fa fa-tachometer"></i> Centros de Estudio</a></li>
                                    <li><a href="@Url.Action("Index", "Progresion_Juvenil")"><i class="fa fa-tachometer"></i> Progreción Juvenil</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-desktop"></i> <span>Administrador</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-double-right pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index", "Personal_Admon")"><i class="fa fa-check-square-o"></i> Administración</a></li>
                                    <li><a href="@Url.Action("Index", "Cargoes")"><i class="fa fa-check-square-o"></i> Cargos</a></li>
                                    <li><a href="@Url.Action("Index", "Periodoes")"><i class="fa fa-check-square-o"></i> Periodos</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                        <!-- Miembro-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa  fa-male"></i><spans>Inscripciones</spans>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="active"><a href="@Url.Action("Index", "Membresia_Adulto")"><i class="fa  fa-address-card"></i> Membresia Adultos</a></li>
                                <li><a href="@Url.Action("Index", "Membresia_Juvenil")"><i class="fa fa-address-card"></i> Membresia Juvenil</a></li>
                                @*<li><a href="@Url.Action("Index", "Tutorias")"><i class="fa fa-address-card"></i> Tutor</a></li>*@
                                <li><a href="@Url.Action("Index", "Etapa_Aprobacion")"><i class="fa fa-address-card"></i> Etapa Aprobación</a></li>
                            </ul>
                        </li>
                        <!-- Grupos-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa  fa-group"></i> <span>Grupos</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Grupoes")"><i class="fa fa-globe"></i> Información Grupos</a></li>
                                <li><a href="@Url.Action("Index", "Responsables")"><i class="fa fa-globe"></i> Responsables</a></li>
                                <li><a href="@Url.Action("Index", "SubGrupoes")"><i class="fa fa-globe"></i> Unidades</a></li>
                                <li><a href="@Url.Action("Index", "Asistentes")"><i class="fa fa-globe"></i> Asistente</a></li>
                                <li><a href="@Url.Action("Index", "Tipo_Grupo")"><i class="fa fa-globe"></i> Tipo Grupos</a></li>                               
                            </ul>
                        </li>
                        <!-- Ubicación-->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-map"></i> <span>Ubicacion</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-double-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Distritoes")"><i class="fa fa-map-o"></i> Distritos</a></li>
                            <li><a href="@Url.Action("Index", "Departamentoes")"><i class="fa fa-map-o"></i> Departamento</a></li>
                            <li><a href="@Url.Action("Index", "Municipios")"><i class="fa fa-map-o"></i> Municipios</a></li>
                            <li><a href="@Url.Action("Index", "Sectors")"><i class="fa fa-map-o"></i> Sectores</a></li>
                        </ul>
                    </li>
                        <!-- Eventos-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa  fa-newspaper-o"></i> <span>Eventos</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Eventoes")"><i class="fa fa-check-square-o"></i> Eventos</a></li>
                                <li><a href="@Url.Action("Index", "Local_Evento")"><i class="fa fa-check-square-o"></i> Local Eventos</a></li>
                                <li><a href="@Url.Action("Index", "Asistente_Evento")"><i class="fa fa-check-square-o"></i> Asistentes Eventos</a></li>

                            </ul>
                        </li>
                        <!-- Usuario-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa  fa-cogs"></i> <span>Usuarios</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Account")"><i class="fa fa-cog"></i>Usuarios</a></li>                             
                              <li><a href="@Url.Action("Index2","Roles")"><i class="fa fa-cog"></i>Lista de Roles</a></li>

                            </ul>
                        </li>
                        
                        @*<li> <a class="waves-effect waves-dark" href="@Url.Action("NotFound", "Home")" aria-expanded="false"><i class="mdi mdi-help-circle"></i><span class="hide-menu">Error 404</span></a></li>*@
                        
                        @*<div class="text-center m-t-30">
                            <a href="@Url.Action("Shared", "_Layout")" class="btn waves-effect waves-light btn-info hidden-md-down"> Navegar más</a>
                        </div>*@
                        
                   }
                        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->                   
        <!-- ============================================================== -->
        <!-- Mostrar menú en caso que sea Manager -->
        <!-- ============================================================== -->
                   @if (User.IsInRole("Manager"))
                   {
                    <li> <a class="waves-effect waves-light" href="@Url.Action("Index", "Home")" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Inicio</span></a></li>
             <!-- Personas-->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa  fa-user-plus"></i> <span>Miembros</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-double-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Adultoes")"><i class="fa fa-user-secret"></i> Adultos</a></li>
                            <li><a href="@Url.Action("Index", "Patrocinadors")"><i class="fa fa-user-circle-o"></i> Patrocinadores</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-smile-o"></i> <span>Jovenes</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-double-right pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index", "Juvenils")"><i class="fa fa-tachometer"></i> Datos Personales</a></li>
                                    <li><a href="@Url.Action("Index", "Centro_Estudio")"><i class="fa fa-tachometer"></i> Centros de Estudio</a></li>
                                    <li><a href="@Url.Action("Index", "Progresion_Juvenil")"><i class="fa fa-tachometer"></i> Progreción Juvenil</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                        <!-- Miembro-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa  fa-male"></i> <span>Inscripciones</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="active"><a href="@Url.Action("Index","Membresia_Adulto")"><i class="fa  fa-address-card"></i> Membresia Adultos</a></li>
                                <li><a href="@Url.Action("Index","Membresia_Juvenil")"><i class="fa fa-address-card"></i> Membresia Juvenil</a></li>
                                <li><a href="@Url.Action("Index","Tutorias")"><i class="fa fa-address-card"></i> Ver Tutorías</a></li>
                                <li><a href="@Url.Action("Index","Etapa_Aprobacion")"><i class="fa fa-address-card"></i> Etapas Aprobación</a></li>
                            </ul>
                        </li>
                       <!-- Grupos-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa  fa-group"></i> <span>Grupos</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Grupoes")"><i class="fa fa-globe"></i> Información Grupos</a></li>
                                <li><a href="@Url.Action("Index", "Responsables")"><i class="fa fa-globe"></i> Responsables</a></li>
                                <li><a href="@Url.Action("Index", "SubGrupoes")"><i class="fa fa-globe"></i> Unidades</a></li>
                                <li><a href="@Url.Action("Index", "Asistentes")"><i class="fa fa-globe"></i> Asistente</a></li>
                                <li><a href="@Url.Action("Index", "Tipo_Grupo")"><i class="fa fa-globe"></i> Tipo Grupos</a></li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-map"></i> <span>Ubicacion</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-double-right pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "Distritoes")"><i class="fa fa-map-o"></i> Distritos</a></li>
                                        <li><a href="@Url.Action("Index", "Departamentoes")"><i class="fa fa-map-o"></i> Departamento</a></li>
                                        <li><a href="@Url.Action("Index", "Municipios")"><i class="fa fa-map-o"></i> Municipios</a></li>
                                        <li><a href="@Url.Action("Index", "Sectors")"><i class="fa fa-map-o"></i> Sectores</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                         <!-- Eventos-->
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa  fa-newspaper-o"></i> <span>Eventos</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-double-right pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index","Eventoes")"><i class="fa fa-check-square-o"></i> Eventos</a></li>
                                    <li><a href="@Url.Action("Index","Local_Evento")"><i class="fa fa-check-square-o"></i> Local Eventos</a></li>
                                    <li><a href="@Url.Action("Index","Asistente_Evento")"><i class="fa fa-check-square-o"></i> Asistentes Eventos</a></li>

                                </ul>
                            </li>
                            
                                @*<li> <a class="waves-effect waves-dark" href="@Url.Action("NotFound", "Home")" aria-expanded="false"><i class="mdi mdi-help-circle"></i><span class="hide-menu">Error 404</span></a></li>*@

                                @*<div class="text-center m-t-30">
                                    <a href="@Url.Action("Shared","_Layout")" class="btn waves-effect waves-light btn-info hidden-md-down"> Navegar más</a>
                                </div>*@

                   }
                  
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->                   
        <!-- ============================================================== -->
        <!-- Mostrar menú en caso que sea Usuario -->
        <!-- ============================================================== -->
                   @if (User.IsInRole("Usuario"))
                   {

                    <li> <a class="waves-effect waves-light" href="@Url.Action("Index", "Home")" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Inicio</span></a></li>
                        <!-- Eventos-->
                    <li class="treeview">
                            <a href="#">
                                <i class="fa  fa-newspaper-o"></i> <span>Eventos</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-double-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Eventoes")"><i class="fa fa-check-square-o"></i> Eventos</a></li>                                                             
                            </ul>
                    
                        </li>

                        @*<div class="text-center m-t-30">
                            <a href="@Url.Action("Shared", "_Layout")" class="btn waves-effect waves-light btn-info hidden-md-down"> Navegar más</a>
                        </div>*@                       
                   }

                        <!-- ============================================================== -->
                        <!-- Mostrar menú en caso que sea Usuario -->
                        <!-- ============================================================== -->
                        @if (User.IsInRole("Tutores"))
                        {

                            <li> <a class="waves-effect waves-light" href="@Url.Action("Index", "Home")" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Inicio</span></a></li>
                        <!-- Miembros-->
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa  fa-user-plus"></i> <span>Mis Tutorias</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-double-right pull-right"></i>
                                    </span>
                                </a>

                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("JuvenilTutorias", "Juvenils")"><i class="fa fa-smile-o"></i> Tutoriados</a></li>
                                    <li><a href="@Url.Action("Index", "Centro_Estudio")"><i class="fa fa-smile-o"></i> Centro de Estudio</a></li>
                                    <li><a href="@Url.Action("Index", "Progresion_Juvenil")"><i class="fa fa-smile-o"></i> Progreción Jovenil</a></li>
                                </ul>
                            </li>

                            @*<div class="text-center m-t-30">
                <a href="@Url.Action("Shared", "_Layout")" class="btn waves-effect waves-light btn-info hidden-md-down"> Navegar más</a>
            </div>*@
                        }
                </ul>
                    
                </nav>

                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">                
                @RenderBody()
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ======-======================================================== -->
            <footer  align="right" class="footer" title="Desarrollado por ==>> Ing. Fancisco Castellón & Ing. Brayan Obando & Ing. Jorge Mendoza"> <b><strong>© 2019 Niscout FBL - Asociación de Scouts de Nicaragua</strong></b></footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

