@using Microsoft.AspNet.Identity
@using NiscoutFBL2019.Models;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = " mr-auto" }))
    {
        var db = new ApplicationDbContext();
        var id = User.Identity.GetUserId();
        var usuario = db.Users.FirstOrDefault(x => x.Id == id);
    
        @Html.AntiForgeryToken()

        @*<ul class="nav navbar-nav navbar-right">*@


        <ul class="navbar-nav mr-auto">
       
            <li class="nav-item dropdown">
             
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <span>@string.Format("Bienvenid@ " + usuario.Email  + "!")</span>
                    <img src="~/Content/assets/images/users/3.jpg" alt="user" class="profile-pic">
       
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="@Url.Action("ChangePassword", "Manage")">Contraseña
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="btn waves-effect waves-light btn-outline-info">@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="btn waves-effect waves-light btn-outline-info">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
@*@Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Usuario" }*@

