@using Microsoft.AspNet.Identity
@using NiscoutFBL2019.Models;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = " mr-auto" }))
    {
        var db = new ApplicationDbContext();
        var id = User.Identity.GetUserId();
        var usuario = db.Users.FirstOrDefault(x => x.Id == id);
    
        @Html.AntiForgeryToken()

        @*<ul class="nav navbar-nav navbar-right">*@


        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" style="height: 2.5rem;
                                    position: relative; line-height: 16px;" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-warning navbar-badge" style="font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: 5px;
    top: -5px;">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope mr-2"></i> 4 new messages
                        @*<li><a href="@Url.Action("Listarnotificacion", "Personas")"><i class="fa fa-check-square-o"></i> En reviciones</a></li>*@
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
            <li class="nav-item dropdown">
             
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <span>@string.Format("Bienvenid@ " + usuario.Nombre + usuario.Apellido + "!")</span>
                    <img src="~/Content/assets/images/users/3.jpg" alt="user" class="profile-pic">
       
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="@Url.Action("ChangePassword", "Manage")">Contraseña
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="btn waves-effect waves-light btn-outline-info">@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="btn waves-effect waves-light btn-outline-info">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
@*@Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Usuario" }*@