
<li> <a class="waves-effect waves-light" href="@Url.Action("Index", "Home")" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Inicio</span></a></li>
<!-- Miembros-->
<li class="treeview">
    <a href="#">
        <i class="fa  fa-user-plus"></i> <span>Miembros</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-double-right pull-right"></i>
        </span>
    </a>
    
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "Juvenils")"><i class="fa fa-check-square-o"></i> Registrarme</a></li>
                <li><a href="@Url.Action("Index", "Centro_Estudio")"><i class="fa fa-check-square-o"></i> Centro de Estudio</a></li>
                <li><a href="@Url.Action("Index", "Progresion_Juvenil")"><i class="fa fa-check-square-o"></i> Progreción Jovenil</a></li>
            </ul>
        </li>
       
  






<div class="text-center m-t-30">
    <a href="@Url.Action("Shared", "_Layout")" class="btn waves-effect waves-light btn-info hidden-md-down"> Navegar más</a>

</div>
