@model IEnumerable<NiscoutFBL2019.Models.Patrocinador>

@{
    ViewBag.Title = "Index";
}
<style>
     .login100-form-title {
        font-weight: bold;
        font-family: Poppins-Bold;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        width: 100%;
    }

    .input100 {
        border: none;
        font-family: Poppins-Medium;
        font-size: 20px;
        line-height: 1.5;
        color: #333333;
        display: block;
        width: 100%;
        background: #e6e6e6;
        height: 45px;
        border-radius: 15px;
        padding: 0 20px 0 53px;
    }


    .form-group {
        position: relative;
        width: 95%;
        z-index: 1;
        margin-bottom: 10px;
    }

    .control-label {
        font-weight: bold;
        color: #333333;
        font-size: 18px;
    }
</style>

<div class="card-header card-header-tabs" style="box-shadow: 0 0 1px 0 ; background-color: transparent">
    <h3 style="font-family:'Times New Roman'"><strong> @Model.Count() Registros de Patrocinadores  </strong>  </h3>
    <h4 style="font-family:'Times New Roman'"> @Model.Count(x => x.Sexo == "Femenino") Mujeres | @Model.Count(x => x.Sexo == "Masculino")  Hombres</h4>
</div>

<div align="left">
    @using (Html.BeginForm("Index", "Patrocinadors", FormMethod.Get))
            {
        <div align="right">
            <br />
            @Html.TextBox("buscar")
            <input type="image" src="@Url.Content("~/Content/Ico/lupa.png")" width="20" class="btn waves-effect waves-light btn-outline-info">

            <a href="@Url.Action("Create", "Patrocinadors")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Registrar Patrocinador">
                Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
            </a>
            <a href="@Url.Action("RepPatro", "Patrocinadors")" target="_blank"class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
            </a>
            <hr />
        </div>
    }
</div>

<div class="row">
    <!-- Column -->
    @if (Model.Count() == 0)
    {
        <div class="col-lg-12 " style="box-shadow: 0px 1px 3px mediumpurple">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">

                        <h2 colspan="4" style="font-family:'Times New Roman'; color:purple; font-size:18px">
                            <br /> No se ha encontrado ningún dato relacionado
                            <a href="@Url.Action("Index")" class="btn waves-effect " title="Volver">
                                <img width="30" src="@Url.Content("~/Content/Ico/Volver.png")" />
                            </a>
                        </h2>
                       
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        foreach (var item in Model.OrderBy(x => x.Apellidos))
        {
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body" style="border-radius: 20px;box-shadow: 0 0 5px 0 mediumpurple; background-color: transparent">
                        <center class="m-t-30">
                            <img src="~/Content/assets/images/Usuario icon.png" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">  @item.Apellidos, @item.Nombres </h4>                        
                            <div class="row text-center justify-content-md-center">

                                <div class="col-4"><a href="@Url.Action("Edit", "Patrocinadors",new { id = item.Id })" class="link" style="font-size:25px" title="Editar Registro"><i class="icon-pencil"></i> <font class="font-medium"></font></a></div>
                                <div class="col-4"><a href="@Url.Action("Details", "Patrocinadors",new { id = item.Id })" style="font-size:25px" class="link" title="Ver Registro" target="_blank"><i class="icon-eye"></i> <font class="font-medium"></font></a></div>

                            </div>
                        </center>
                    </div>
                </div>
            </div>
        }
    }
</div>

