@model NiscoutFBL2019.Models.Distrito

@{
    ViewBag.Title = "Delete";
}

<h2>¿Está Seguro que desea Eliminar Este Registro...?</h2>


<div class="datagr">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Cod_Distrito)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cod_Distrito)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Nombre_Distrito)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nombre_Distrito)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Descripcion)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>

    <div aling="left">
       
        @Html.AntiForgeryToken()
        <div aling="right">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    <input title="Una vez eliminado, no se podrá recuperar" type="submit" value="Eliminar Registro" class="btn btn-outline-danger" />

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Cancelar", "Index")</button>
                </div>
            </div>
        </div>  
     </div>
</div>