@model NiscoutFBL2019.Models.Progresion_Juvenil

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de la Informacion</h2>

<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Cod_Etapa_Prog)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cod_Etapa_Prog)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Descripcion_Etapa)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Descripcion_Etapa)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Membresia_Juvenil.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Membresia_Juvenil.Id)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Editar Registro", "Edit", new { id = Model.Id })</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn waves-effect waves-purple btn-info hidden-md-down">@Html.ActionLink("Volver a la lista", "Index")</button>

    </p>
</div>

