@model IEnumerable<NiscoutFBL2019.Models.Progresion_Juvenil>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de Progresion Juvenil</h2>

<p>

    <a href="@Url.Action("Create", "Progresion_Juvenil")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Agregar Progresion Juvenil">
        Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
    </a>
</p>

<div class="datagr">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cod_Etapa_Prog)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion_Etapa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Membresia_Juvenil.Id)
                </th>
                <th></th>
            </tr>
        </thead>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4"> No se ha encontrado ningún dato relacionado</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cod_Etapa_Prog)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion_Etapa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Membresia_Juvenil.Id)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Adultoes",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                            <img width="25" src="~/Content/Ico/Editar.png" />
                        </a>
                        <a href="@Url.Action("Details", "Adultoes",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                            <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                        </a>
                        <a href="@Url.Action("Delete", "Adultoes",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                            <img width="25" src="~/Content/Ico/eliminar.png" />
                        </a>

                    </td>
                </tr>
            }
        }
    </table>
</div>