@model NiscoutFBL2019.Models.SubGrupo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubGrupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod_Subgrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Subgrupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Subgrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Subgrupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membresia_AdultoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membresia_AdultoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asistente.Cod_Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asistente.Cod_Persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Grupo.Cod_Tipo_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Grupo.Cod_Tipo_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo.Cod_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.Cod_Grupo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
