@model NiscoutFBL2019.Models.SubGrupo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubGrupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod_Subgrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Subgrupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Subgrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Subgrupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membresia_AdultoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membresia_AdultoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asistente.Cod_Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asistente.Cod_Persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Grupo.Cod_Tipo_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Grupo.Cod_Tipo_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo.Cod_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.Cod_Grupo)
        </dd>

    </dl>
</div>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Editar Registro", "Edit", new { id = Model.Id })</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn waves-effect waves-purple btn-info hidden-md-down">@Html.ActionLink("Volver a la lista", "Index")</button>
</p>
