@model IEnumerable<NiscoutFBL2019.Models.SubGrupo>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de SubGrupos</h2>

<link href="~/Content/css/ButtonStyles.css" rel="stylesheet" />
<div align="left">
    @using (Html.BeginForm("Index", "SubGrupoes", FormMethod.Get))
    {
        <div align="right">
            <hr />
           
            @Html.TextBox("buscar")
            <input type="image" src="@Url.Content("~/Content/Ico/lupa.png")" width="20" class="btn waves-effect waves-light btn-outline-info">

            <a href="@Url.Action("Create", "SubGrupoes")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Agregar Nuevo SubGrupo">
                Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
            </a>
            <a href="@Url.Action("RepAdulto", "SubGrupoes")" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
            </a>
            <hr />
        </div>
    }
</div>

<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <th>
                   Codigo SubGrupo
                </th>
                <th>
                    Nombre Subgrupo
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Asistente.Cod_Persona)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo_Grupo.Cod_Tipo_Grupo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grupo.Cod_Grupo)
                </th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
        <tr>
            <td colspan="8"> No se ha encontrado ningún dato relacionado</td>
        </tr>
        }
        else
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cod_Subgrupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Subgrupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asistente.Cod_Persona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_Grupo.Cod_Tipo_Grupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grupo.Cod_Grupo)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "SubGrupoes",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                        <img width="25" src="~/Content/Ico/Editar.png" />
                    </a>
                    <a href="@Url.Action("Details", "SubGrupoes",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                        <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                    </a>
                    <a href="@Url.Action("Delete", "SubGrupoes",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                        <img width="25" src="~/Content/Ico/eliminar.png" />
                    </a>
                </td>
            </tr>
            }
        }

    </table>
</div>