@model IEnumerable<NiscoutFBL2019.Models.Etapa_Aprobacion>

@{
    ViewBag.Title = "Index";
}

<h2>Etapas de Aprobación</h2>


<div align="right">
    <div>
        <hr />

        <a href="@Url.Action("Create", "Etapa_Aprobacion")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Registrar un Adulto">
            Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
        </a>
       
        <hr />
    </div>
</div>
<div class="datagr">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cod_Etapa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
            </thead>
           @foreach (var item in Model)
            {
                <tr class="alt">
                    <td>
                        @Html.DisplayFor(modelItem => item.Cod_Etapa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Etapa_Aprobacion",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                            <img width="25" src="~/Content/Ico/Editar.png" />
                        </a>
                        <a href="@Url.Action("Details", "Etapa_Aprobacion",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                            <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                        </a>
                        <a href="@Url.Action("Delete", "Etapa_Aprobacion",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                            <img width="25" src="~/Content/Ico/eliminar.png" />
                        </a>
                    </td>
                </tr>
            }

    </table>
    </div>
