@model IEnumerable<NiscoutFBL2019.Models.Etapa_Aprobacion>

@{
    ViewBag.Title = "Index";
}
<style>
    .login100-form-title {
        font-weight: bold;
        font-family: Poppins-Bold;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        width: 100%;
    }

    .input100 {
        border: none;
        font-family: Poppins-Medium;
        font-size: 20px;
        line-height: 1.5;
        color: #333333;
        display: block;
        width: 100%;
        background: #e6e6e6;
        height: 45px;
        border-radius: 15px;
        padding: 0 20px 0 53px;
    }


    .form-group {
        position: relative;
        width: 95%;
        z-index: 1;
        margin-bottom: 10px;
    }

    .control-label {
        font-weight: bold;
        color: #333333;
        font-size: 18px;
    }
</style>
<div class="card-header card-header-tabs" style="box-shadow: 0 0 1px 0 ; background-color: transparent">
    <h3 style="font-family:'Montserrat'"><strong> @Model.Count() Registros de Etapa Aprobacion  </strong>  </h3>

</div>
<br />

<div align="right">
    <div>
        <a href="@Url.Action("Create", "Etapa_Aprobacion")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Registrar un Adulto">
            Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
        </a>

        <hr />
    </div>
</div>

<div class="col-lg-12 " style="box-shadow: 0px 1px 3px mediumpurple">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table vm no-th-brd no-wrap pro-of-month">
                    <thead style="color: #000">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Cod_Etapa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @if (Model.Count() == 0)
            {
                        <tr>
                            <td>
                                <div colspan="4" style="font-family:'Times New Roman'; color:purple; font-size:18px">
                                    <br /> No se ha encontrado ningún dato relacionado
                                    <a href="@Url.Action("Index")" class="btn waves-effect " title="Volver">
                                        <img width="30" src="@Url.Content("~/Content/Ico/Volver.png")" />
                                    </a>

                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                       foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cod_Etapa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Etapa_Aprobacion",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                                        <img width="25" src="~/Content/Ico/Editar.png" />
                                    </a>
                                    <a href="@Url.Action("Details", "Etapa_Aprobacion",new { id = item.Id })" target="_blank" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                                        <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                                    </a>
                                    @*<a href="@Url.Action("Delete", "Etapa_Aprobacion",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                                        <img width="25" src="~/Content/Ico/eliminar.png" />
                                        </a>*@
                                </td>
                            </tr>
                        }
                    }

                </table>
             </div>
        </div>
    </div>
</div>