@model NiscoutFBL2019.Models.Responsable

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de la Informacion...</h2>

<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Cod_Persona)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cod_Persona)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nombres)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Apellidos)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Fecha_Nac)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Fecha_Nac)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.E_Mail)
                </td>
                <td>
                    @Html.DisplayFor(model => model.E_Mail)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cedula)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Sexo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Estado_Civil)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Estado_Civil)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Num_Pasaporte)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Num_Pasaporte)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Telefono)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Direccion)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Profesion)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Profesion)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Centro_Laboral)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Centro_Laboral)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Tipo_Sangre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Tipo_Sangre)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Departamento.Cod_Departamento)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Departamento.Cod_Departamento)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>
    </div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Editar Registro", "Edit", new { id = Model.Id })</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="@Url.Action("Index")" class="btn waves-effect waves-purple btn btn-outline-danger hidden-md-down" title="Cancelar Registro">
            <img width="30" src="@Url.Content("~/Content/Ico/cancelar.png")" />
        </a>
    </div>
</div>
   
