@model IEnumerable<NiscoutFBL2019.Models.Municipio>

@{
    ViewBag.Title = "Index";
}

<h2>Registros de Municipios</h2>

<div align="left">
    @using (Html.BeginForm("Index", "Municipios", FormMethod.Get))
    {
        <div align="right">
            <hr />
            @Html.TextBox("buscar")
            <input type="image" src="@Url.Content("~/Content/Ico/lupa.png")" width="20" class="btn waves-effect waves-light btn-outline-info">

            <a href="@Url.Action("Create", "Municipios")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Registrar Nuevo Municipio">
                Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
            </a>
            @*<a href="@Url.Action("RepAdulto", "Municipios")" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
            </a>*@
            <hr />
        </div>
    }
</div>

<div class="datagr">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cod_Municipio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_Municipio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento.Nombre_Departamento)
                </th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4"> No se ha encontrado ningún dato relacionado</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cod_Municipio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre_Municipio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento.Nombre_Departamento)
                        </td>
                        <td>

                            <a href="@Url.Action("Edit", "Municipios",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                                <img width="25" src="~/Content/Ico/Editar.png" />
                            </a>
                            <a href="@Url.Action("Details", "Municipios",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                                <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                            </a>
                            @*<a href="@Url.Action("Delete", "Municipios",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                                <img width="25" src="~/Content/Ico/eliminar.png" />
                            </a>*@


                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>
