@model IEnumerable<NiscoutFBL2019.Models.Municipio>

@{
    ViewBag.Title = "Index";
}

<h2>Registros de Municipios</h2>

<div align="left">
    @using (Html.BeginForm("Index", "Municipios", FormMethod.Get))
    {
        <div align="right">
            <hr />
            <a href="@Url.Action("Create", "Municipios")" class="btn waves-effect waves-light btn-outline-info hidden-md-down"> Registrar Nuevo Municipios</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;

            @Html.TextBox("searching")
            &nbsp; &nbsp; &nbsp;
            <input type="submit" value="Buscar" class="btn btn-outline-success" />
            <hr />
        </div>
    }
</div>

<div class="datagr">
    <table >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cod_Municipio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_Municipio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento.Cod_Departamento)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr class="alt">
                <td>
                    @Html.DisplayFor(modelItem => item.Cod_Municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.Cod_Departamento)
                </td>
                <td>
                    <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Editar", "Edit", new { id = item.Id })</button>
                    <button class="btn waves-effect waves-red btn-info hidden-md-down">@Html.ActionLink("Detalles", "Details", new { id = item.Id })</button>
                    <button class="btn waves-effect waves-light btn-danger hidden-md-down">@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</button>
                </td>
            </tr>
        }

    </table>
</div>