@model NiscoutFBL2019.Models.Personal_Admon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Personal_Admon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departamento.Cod_Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.Cod_Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Civil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Civil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Pasaporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Pasaporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo.Cod_Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo.Cod_Cargo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
