@model NiscoutFBL2019.Models.Personal_Admon

@{
    ViewBag.Title = "Details";
}


<h2>Detalle de la Información</h2>


<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
       
            @*<dt>
                @Html.DisplayNameFor(model => model.Cod_Persona)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cod_Persona)
            </dd>*@
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nombres)
                </td>
             </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(model => model.Apellidos)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Sexo)
            </td>
            <td>
                @Html.DisplayFor(model => model.Sexo)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Fecha_Nac)
            </td>
            <td>
                @Html.DisplayFor(model => model.Fecha_Nac)
            </td>
        </tr>
        
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Cedula)
            </td>
            <td>
                @Html.DisplayFor(model => model.Cedula)
            </td>
        </tr>
      
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Estado_Civil)
            </td>
            <td>
                @Html.DisplayFor(model => model.Estado_Civil)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Num_Pasaporte)
            </td>
            <td>
                @Html.DisplayFor(model => model.Num_Pasaporte)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Telefono)
            </td>
            <td>
                @Html.DisplayFor(model => model.Telefono)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Direccion)
            </td>
            <td>
                @Html.DisplayFor(model => model.Direccion)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Profesion)
            </td>
            <td>
                @Html.DisplayFor(model => model.Profesion)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Centro_Laboral)
            </td>
            <td>
                @Html.DisplayFor(model => model.Centro_Laboral)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Tipo_Sangre)
            </td>
            <td>
                @Html.DisplayFor(model => model.Tipo_Sangre)
            </td>
        </tr>
     
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Cargo.Nombre_Cargo)
            </td>
            <td>
                @Html.DisplayFor(model => model.Cargo.Nombre_Cargo)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.E_Mail)
            </td>
            <td>
                @Html.DisplayFor(model => model.E_Mail)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Departamento.Nombre_Departamento)
            </td>
            <td>
                @Html.DisplayFor(model => model.Departamento.Nombre_Departamento)
            </td>
        </tr>
        <tr>
            <td>
</table>
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Editar Registro", "Edit", new { id = Model.Id })</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Index")" class="btn waves-effect waves-purple btn btn-outline-danger hidden-md-down" title="Cancelar Registro">
                    <img width="30" src="@Url.Content("~/Content/Ico/cancelar.png")" />
                </a>
            </div>
        </div>

    </p>
</div>
@section Scripts {


    <link href="~/Content/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/js/datepicker.min.js"></script>
    <script src="~/Scripts/js/i18n/datepicker.es.js"></script>
    <script>
        $(function () {


            $("#Fecha_Nac").datepicker({ language: 'es', dateFormat: 'dd-mm-yy' });

        });
    </script>


    @Scripts.Render("~/bundles/jqueryval")
}


