@model IEnumerable<NiscoutFBL2019.Models.Personal_Admon>

@{
    ViewBag.Title = "Index";
}

<h2>Registros de Personal Admon..</h2>

<div align="left">
    @using (Html.BeginForm("Index", "Personal_Admon", FormMethod.Get))
    {
        <div align="right">
            <hr />

            @Html.TextBox("busqueda")
            <input type="image" src="@Url.Content("~/Content/Ico/lupa.png")" width="20" class="btn waves-effect waves-light btn-outline-info">

            <a href="@Url.Action("Create", "Personal_Admon")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Registrar Nuevo Personal Admon">
                Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
            </a>
            <a href="@Url.Action("RepAdmin", "Reportes")"target="_blank" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
            </a>
            <hr />
        </div>
    }
</div>

<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.Cod_Persona)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_Nac)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.Estado_Civil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Num_Pasaporte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profesion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Centro_Laboral)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo_Sangre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E_Mail)
                </th>
                <th>
                   Cargo                    
                </th>
                <th>
                    Departamento
                </th>
                <th>Accion</th>
        </thead>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4"> No se ha encontrado ningún dato relacionado</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {

                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Cod_Persona)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombres)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellidos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sexo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_Nac)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Cedula)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado_Civil)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Num_Pasaporte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profesion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Centro_Laboral)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo_Sangre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.E_Mail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cargo.Nombre_Cargo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento.Nombre_Departamento)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Personal_Admon", new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                                <img width="25" src="~/Content/Ico/Editar.png" />
                            </a>
                            <a href="@Url.Action("Details", "Personal_Admon", new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                                <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                            </a>
                            @*<a href="@Url.Action("Delete", "Personal_Admon", new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                                <img width="25" src="~/Content/Ico/eliminar.png" />
                            </a>*@
                            <a href="@Url.Action("ReporCarnetAdmin2", "Reportes", new { id = item.Id })" target="_blank" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Carnet">
                                <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
                            </a>
                        </td>
                    </tr>
            }
        }
</table>
    </div>