@model NiscoutFBL2019.Models.Membresia_Juvenil

@{
    ViewBag.Title = "Delete";
}

<h2>¿Está Seguro que desea Eliminar Este Registro...?</h2>


<div class="datagrid">

    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Juvenil.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Juvenil.Nombres)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SubGrupo.Nombre_Subgrupo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SubGrupo.Nombre_Subgrupo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Centro_Estudio.Nombre_Centro)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Centro_Estudio.Nombre_Centro)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Annio)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Annio)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Turno)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Turno)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Grado)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Grado)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Nivel_Academico)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nivel_Academico)
                </td>
            </tr>
            
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Etapa_Aprobacion.Estado)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Etapa_Aprobacion.Estado)
                </td>
            </tr>
           
          
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>


    </table>
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="form-group">
                <input title="Una vez eliminado, no se podrá recuperar" type="submit" value="Eliminar Registro" class="btn btn-outline-danger" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Index")" class="btn waves-effect waves-purple btn-success hidden-md-down">Cancelar</a>
            </div>
        </div>
    </div>
</div>
