@model NiscoutFBL2019.Models.Membresia_Juvenil

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Membresia_Juvenil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Annio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubGrupo.Cod_Subgrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubGrupo.Cod_Subgrupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etapa_Aprobacion.Cod_Etapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etapa_Aprobacion.Cod_Etapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Juvenil.Cod_Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Juvenil.Cod_Persona)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
