@model IEnumerable<NiscoutFBL2019.Models.Membresia_Juvenil>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Juvenil.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubGrupo.Cod_Subgrupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tutor.Cod_Persona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Juvenil.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubGrupo.Cod_Subgrupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tutor.Cod_Persona)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
