@model IEnumerable<NiscoutFBL2019.Models.Membresia_Juvenil>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de Membresia Juvenil</h2>

<p>
    <a href="@Url.Action("Create", "Membresia_Juvenil")" class="btn waves-effect waves-light btn-outline-info hidden-md-down"> Agregar Membresia Juvenil</a>
</p>

<div class="datagr">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Juvenil.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubGrupo.Nombre_Subgrupo )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tutor.Nombres)
                </th>
                <th></th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Juvenil.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubGrupo.Nombre_Subgrupo )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tutor.Nombres)
                    </td>
                    <td>
                        <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Editar", "Edit", new { id = item.Id })</button>
                        <button class="btn waves-effect waves-red btn-info hidden-md-down">@Html.ActionLink("Detalles", "Details", new { id = item.Id })</button>
                        <button class="btn waves-effect waves-light btn-danger hidden-md-down">@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</button>
                    </td>
                </tr>
            }

    </table>
    </div>