@model IEnumerable<NiscoutFBL2019.Models.Tipo_Grupo>

@{
    ViewBag.Title = "Index";
}

<h2>Registros de Tipo de Grupo</h2>
    <link href="~/Content/css/ButtonStyles.css" rel="stylesheet" />

    <div align="left">
        @using (Html.BeginForm("Index", "Tipo_Grupo", FormMethod.Get))
        {
            <div align="right">
                <hr />
              
               @Html.TextBox("buscar")
            <input type="image" src="@Url.Content("~/Content/Ico/lupa.png")" width="20" class="btn waves-effect waves-light btn-outline-info">

            <a href="@Url.Action("Create", "Tipo_Grupo")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Agregar Nuevo Tipo Grupo">
                Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
            </a>
            <a href="@Url.Action("RepAdulto", "Tipo_Grupo")" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
            </a>
                <hr />
            </div>
        }
    </div>
    

<div class="datagr">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cod_Tipo_Grupo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_Tipo_Grupo)
                </th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
         <tr>
        <td colspan="4"> No se ha encontrado ningún dato relacionado</td>
        </tr>
        }
        else
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cod_Tipo_Grupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Tipo_Grupo)
                </td>
                <td>

                    <a href="@Url.Action("Edit", "Tipo_Grupo",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                        <img width="25" src="~/Content/Ico/Editar.png" />
                    </a>
                    <a href="@Url.Action("Details", "Tipo_Grupo",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                        <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                    </a>
                    <a href="@Url.Action("Delete", "Tipo_Grupo",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                        <img width="25" src="~/Content/Ico/eliminar.png" />
                    </a>
                </td>
            </tr>
            }
        }

    </table>
</div>
