@model IEnumerable<NiscoutFBL2019.Models.Tipo_Grupo>

@{
    ViewBag.Title = "Index";
}

<h2>Registros de Tipo de Grupo</h2>
    <link href="~/Content/css/ButtonStyles.css" rel="stylesheet" />

    <div align="left">
        @using (Html.BeginForm("Index", "Tipo_Grupo", FormMethod.Get))
        {
            <div align="right">
                <hr />
                <a href="@Url.Action("Create", "Tipo_Grupo")" class="btn waves-effect waves-light btn-outline-info hidden-md-down"> Agregar Nuevo Tipo Grupo</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.TextBox("buscar")
                &nbsp;&nbsp;&nbsp;
                <input type="submit" value="Buscar" class="btn btn-outline-success" />
                <hr />
            </div>
        }
    </div>
    

<div class="datagr">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cod_Tipo_Grupo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_Tipo_Grupo)
                </th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
         <tr>
        <td colspan="4"> No se ha encontrado ningún dato relacionado</td>
        </tr>
        }
        else
        {
            foreach (var item in Model)
            {
            <tr class="alt">
                <td>
                    @Html.DisplayFor(modelItem => item.Cod_Tipo_Grupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Tipo_Grupo)
                </td>
                <td>
                    <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Editar", "Edit", new { id = item.Id })</button>
                    <button class="btn waves-effect waves-red btn-info hidden-md-down">@Html.ActionLink("Detalles", "Details", new { id = item.Id })</button>
                    <button class="btn waves-effect waves-light btn-danger hidden-md-down">@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</button>
                </td>
            </tr>
            }
        }

    </table>
</div>
