@model IEnumerable<NiscoutFBL2019.Models.Persona>

@{
    ViewBag.Title = "Index";

    <style>
        .login100-form-title {
            font-weight: bold;
            font-family: Poppins-Bold;
            font-size: 30px;
            color: #333333;
            line-height: 1.2;
            text-align: center;
            width: 100%;
        }

        .input100 {
            border: none;
            font-family: Poppins-Medium;
            font-size: 20px;
            line-height: 1.5;
            color: #333333;
            display: block;
            width: 100%;
            background: #e6e6e6;
            height: 45px;
            border-radius: 15px;
            padding: 0 20px 0 53px;
        }


        .form-group {
            position: relative;
            width: 95%;
            z-index: 1;
            margin-bottom: 10px;
        }

        .control-label {
            font-weight: bold;
            color: #333333;
            font-size: 18px;
        }
    </style>
}
<div class="card-header card-header-tabs" style="box-shadow: 0 0 1px 0 ; background-color: transparent">
    <h3 style="font-family:'Montserrat'"><strong> @Model.Count() Registros de Tutores </strong>  </h3>
    <h4 style="font-family:'Montserrat'"> @Model.Count(x => x.Sexo == "Femenino") Mujeres | @Model.Count(x => x.Sexo == "Masculino")  Hombres</h4>
</div>
<br />
<div align="left">
    @using (Html.BeginForm("Index", "Tutorias", FormMethod.Get))
    {
        <div align="right">

            <div>
              

                <a href="@Url.Action("Create", "Personas")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Agregar Nuevo Tutor">
                    Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
                </a>
                <a href="@Url.Action("RepAdulto", "Tutorias")" target="_blank" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                    <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
                </a>
                <hr />
               
            </div>
        </div>
    }
</div>


<div class="row">
    <!-- Column -->
    @if (Model.Count() == 0)
    {

        <h2>  No se ha encontrado ningún dato relacionado</h2>

    }
    else
    {
        foreach (var item in Model.OrderBy(x => x.Apellidos))
        {
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body" style="border-radius: 20px;box-shadow: 0 0 5px 0 mediumpurple; background-color: transparent">
                        <center class="m-t-30">
                            <img src="~/Content/assets/images/Usuario icon.png" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">  @item.Apellidos, @item.Nombres </h4>
                            <h6 class="card-subtitle">@item.E_Mail</h6>
                            <h6 class="card-subtitle">@item.Departamento.Nombre_Departamento</h6>
                            <div class="row text-center justify-content-md-center">

                                <div class="col-4"><a href="@Url.Action("Edit", "Tutorias",new { id = item.Id })" target="_blank" class="link"><i class="icon-pencil"></i> <font class="font-medium">Editar</font></a></div>
                                <div class="col-4"><a href="@Url.Action("Details", "Tutorias",new { id = item.Id })" target="_blank" class="link"><i class="icon-eye"></i> <font class="font-medium">Ver</font></a></div>
                                <div class="col-4"><a href="@Url.Action("ReportCarnet", "Reportes",new { id = item.Id })" class="link" title="Imprimir Carnet"><i class="fa  fa-address-card "></i> <font class="font-medium"></font></a></div>

                            </div>
                        </center>
                    </div>
                </div>
            </div>
        }
    }
</div>


@*<div class="datagr">
    <table>
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Fecha_Nac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E_Mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>

                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.OrderBy(x => x.Apellidos))
            {
                <tr>

                    <td>
                        @item.Nombres @item.Apellidos @item.Tutorias.Count()

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_Nac)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.E_Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td></td>
                    <td>

                        <a href="@Url.Action("Edit", "Tutorias",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                            <img width="25" src="~/Content/Ico/Editar.png" />
                        </a>
                        <a href="@Url.Action("Details", "Tutorias",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                            <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                        </a>

                        <a href="@Url.Action("Create", "Tutorias",new { idpersona = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                            <img width="25" src="~/Content/Ico/Editar.png" />
                        </a>
                        @*<a href="@Url.Action("Delete", "Tutorias",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                                <img width="25" src="~/Content/Ico/eliminar.png" />
                            </a>
                    </td>
                </tr>
            }

    </table>
</div>*@
