@model NiscoutFBL2019.Models.Detalle_Evento_Patro

@{
    ViewBag.Title = "Delete";
}

<h3>¿Está Seguro que desea Eliminar Este Registro...?</h3>

<div class="datagrid">

    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Asistente_Evento.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Asistente_Evento.Id)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Evento.Cod_Evento)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Evento.Cod_Evento)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Local_Evento.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Local_Evento.Nombre)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Patrocinador.Cod_Persona)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Patrocinador.Cod_Persona)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Desde)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Desde)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Hasta)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Hasta)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-2 col-md-10">
            <div class="form-group">
                <input title="Una vez eliminado, no se podrá recuperar" type="submit" value="Eliminar Registro" class="btn btn-outline-danger" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Index")" class="btn waves-effect waves-purple btn-success hidden-md-down">Cancelar</a>
            </div>
        </div>
    }
</div>

