@model NiscoutFBL2019.Models.Detalle_Evento_Patro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detalle_Evento_Patro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asistente_Evento.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asistente_Evento.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evento.Cod_Evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.Cod_Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_Evento.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_Evento.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patrocinador.Cod_Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patrocinador.Cod_Persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hasta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
