@model NiscoutFBL2019.Models.Membresia_Adulto

@{
    ViewBag.Title = "Delete";
}

<h2>¿Está Seguro que desea Eliminar Este Registro...?</h2>


<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Adulto.Cod_Persona)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Adulto.Cod_Persona)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Etapa_Aprobacion1.Cod_Etapa)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Etapa_Aprobacion1.Cod_Etapa)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Carta_Compromiso)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Carta_Compromiso)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Carta_Intencion)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Carta_Intencion)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Record_Policia)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Record_Policia)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Carta_Ref_Personal)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Carta_Ref_Personal)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Certifi_Salvo_Peligro)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Certifi_Salvo_Peligro)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    <input title="Una vez eliminado, no se podrá recuperar" type="submit" value="Eliminar Registro" class="btn btn-outline-danger" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("Index")" class="btn waves-effect waves-purple btn-success hidden-md-down">Cancelar</a>
                </div>
            </div>
        </div>
    }
</div>

