@model NiscoutFBL2019.Models.Membresia_Adulto

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de la Informacion...</h2>

<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
          
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Carta_Compromiso)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Carta_Compromiso)
                    @*<object data="data:application/pdf;base64,@System.Convert.ToBase64String(item.Carta_Compromiso)" width="200" height="75" type="application/pdf"> </object>*@
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Carta_Intencion)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Carta_Intencion)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Record_Policia)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Record_Policia)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Carta_Ref_Personal)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Carta_Ref_Personal)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Certifi_Salvo_Peligro)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Certifi_Salvo_Peligro)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Annio)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Annio)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cargo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Etapa_Aprobacion.Estado)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Etapa_Aprobacion.Estado)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Adulto.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Adulto.Nombres)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SubGrupo.Nombre_Subgrupo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SubGrupo.Nombre_Subgrupo)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            
        </thead>
    </table>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn waves-effect waves-purple btn-success hidden-md-down">@Html.ActionLink("Editar Registro", "Edit", new { id = Model.Id })</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn waves-effect waves-purple btn-info hidden-md-down">@Html.ActionLink("Volver a la lista", "Index")</button>

    </p>
</div>

