@model IEnumerable<NiscoutFBL2019.Models.Membresia_Adulto>

@{
    ViewBag.Title = "Index";
}
<h2>Registros de Membrecia Adulto</h2>

<div align="left">
    @using (Html.BeginForm("Index", "Membresia_Adulto", FormMethod.Get))
            {
        <div align="right">
            <hr />

            @Html.TextBox("buscar")
            <input type="image" src="@Url.Content("~/Content/Ico/lupa.png")" width="20" class="btn waves-effect waves-light btn-outline-info">

            <a href="@Url.Action("Create", "Membresia_Adulto")" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Registrar un Miembro">
                Nuevo <img width="25" src="@Url.Content("~/Content/Ico/Nuevo.png")" />
            </a>
            <a href="@Url.Action("RepAdulto", "Membresia_Adulto")" class="btn waves-effect waves-light btn-outline-success hidden-md-down" title="Imprimir Registros">
                <img width="25" src="@Url.Content("~/Content/Ico/imprimir.png")" />
            </a>
            <hr />
        </div>
    }
</div>

<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Carta_Compromiso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carta_Intencion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Record_Policia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carta_Ref_Personal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Certifi_Salvo_Peligro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Annio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Etapa_Aprobacion.Cod_Etapa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adulto.Cod_Persona)
                </th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4"> No se ha encontrado ningún dato relacionado</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>                            
                            <object data="data:application/pdf;base64,@System.Convert.ToBase64String(item.Carta_Compromiso)" width="900" height="600" type="application/pdf"> </object>
                        </td>
                        <td>
                          @*<img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Carta_Intencion));" />*@
                         <object data="data:application/pdf;base64,@System.Convert.ToBase64String(item.Carta_Intencion)" width="900" height="600" type="application/pdf"> </object>

                        </td> 
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Record_Policia)*@
                            "Recórd Policía"
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Carta_Ref_Personal)*@
                            "Carta Ref_Personal"
                        </td>
                        <td>
                         @*   @Html.DisplayFor(modelItem => item.Certifi_Salvo_Peligro)*@
                            "Certificado Salvo"
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Annio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Etapa_Aprobacion.Cod_Etapa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adulto.Cod_Persona)
                        </td>
                        <td>

                            <a href="@Url.Action("Edit", "Membresia_Adulto",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-primary hidden-md-down" title="Editar Registro">
                                <img width="25" src="~/Content/Ico/Editar.png" />
                            </a>
                            <a href="@Url.Action("Details", "Membresia_Adulto",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-info hidden-md-down" title="Información">
                                <img width="25" src="~/Content/Ico/Ver_detalles.png" />
                            </a>
                            <a href="@Url.Action("Delete", "Membresia_Adulto",new { id = item.Id })" class="btn waves-effect waves-light btn-outline-danger  hidden-md-down" title="Eliminar Registro">
                                <img width="25" src="~/Content/Ico/eliminar.png" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>


@*@model IEnumerable<NiscoutFBL2019.Models.Membresia_Adulto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Carta_Compromiso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carta_Intencion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Record_Policia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carta_Ref_Personal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certifi_Salvo_Peligro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etapa_Aprobacion.Cod_Etapa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adulto.Cod_Persona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Carta_Compromiso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carta_Intencion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Record_Policia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carta_Ref_Personal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certifi_Salvo_Peligro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Annio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etapa_Aprobacion.Cod_Etapa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adulto.Cod_Persona)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
